My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0d517da0-7164-4cc8-9be5-c5b536dee296",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "developer jobs India"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e59602b4-57b4-43d2-b762-e2eaddb6ebf6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a job filter assistant. I am a fresher from India looking for AI, automation, or n8n-related jobs.\n\nJob Title:$json.job_title\nCompany: {{ $json.data[0].employer_name }}\nDescription: {{ $json.data[0].job_description.substring(0, 400) }}\n\nRate this job 1-10 for relevance to a fresher AI automation developer from India. Return ONLY this JSON:\n{\"score\": 7, \"summary\": \"2 line summary here\", \"relevant\": true}",
        "options": {
          "systemMessage": "You are a helpful job filter assistant. Always respond with valid JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "d290a76e-cc4d-4687-a879-5548c69c05e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "b8cdfc0c-88de-451c-8e47-fb57151909af",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1XbZCBvv7hnyuNup",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app6qi5BEiGc5eUIA",
          "mode": "list",
          "cachedResultName": "Job tracker",
          "cachedResultUrl": "https://airtable.com/app6qi5BEiGc5eUIA"
        },
        "table": {
          "__rl": true,
          "value": "tblOWRnclQNAprsxy",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/app6qi5BEiGc5eUIA/tblOWRnclQNAprsxy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Relevant": "={{ JSON.parse($('AI Agent').item.json.output).relevant }}",
            "Job title": "={{ $('Split Out').item.json.job_title }}",
            "Company": "={{ $('HTTP Request').item.json.data[0].employer_name }}",
            "Score": "={{ JSON.parse($('AI Agent').item.json.output).score }}",
            "Summary": "= {{ JSON.parse($('AI Agent').item.json.output).summary }}",
            "Apply Link": "={{ $('HTTP Request').item.json.data[0].job_apply_link }}",
            "Date": "2026-03-29T18:22:11",
            "Remote": "={{ $('HTTP Request').item.json.data[0].job_is_remote }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job title",
              "displayName": "Job title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant",
              "displayName": "Relevant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Apply Link",
              "displayName": "Apply Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Remote",
              "displayName": "Remote",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        976,
        0
      ],
      "id": "00bd2a0f-034d-4f1f-a043-4817a5f6ebd8",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "3lNsOwdu1QPmnzDO",
          "name": "Airtable Personal Access Token account 6"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('HTTP Request').item.json.data[0].job_is_remote }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "38426b57-563f-4d1a-8425-5ebe6cd91601"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Remote"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c994e991-7a61-43ba-bb37-d527e4f41346",
                    "leftValue": "={{ $('HTTP Request').item.json.data[0].job_is_remote }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Onsite"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1184,
        0
      ],
      "id": "966d40da-e09d-4c18-97d7-158f35881c3d",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "adityadhanwate802@gmail.com",
        "subject": "🏠 Remote Job Alert!",
        "message": "=🏠 REMOTE JOB ALERT!  💼 Job Title: {{ $('HTTP Request').item.json.data[0].job_title }} 🏢 Company: {{ $('HTTP Request').item.json.data[0].employer_name }} ⭐ Score: {{ JSON.parse($('AI Agent').item.json.output).score }}/10 📝 Summary: {{ JSON.parse($('AI Agent').item.json.output).summary }} 🔗 Apply Here: {{ $('HTTP Request').item.json.data[0].job_apply_link }}  Good luck! 🚀",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -96
      ],
      "id": "0a467b0f-69f2-4cc9-914f-3e571b43bcb0",
      "name": "Send a message",
      "webhookId": "a16b8d35-5807-4ab8-833d-4760be23b2e4",
      "credentials": {
        "gmailOAuth2": {
          "id": "p7s63YBLeCqg4NkV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "adityadhanwate802@gmail.com",
        "subject": " 🏢 Onsite Job Alert!",
        "message": "=🏢 ONSITE JOB ALERT!  💼 Job Title: {{ $('HTTP Request').item.json.data[0].job_title }}  🏢 Company: {{ $('HTTP Request').item.json.data[0].employer_name }}  ⭐ Score: {{ JSON.parse($('AI Agent').item.json.output).score }}/10  📝 Summary: {{ JSON.parse($('AI Agent').item.json.output).summary }}  🔗 Apply Here: {{ $('HTTP Request').item.json.data[0].job_apply_link }}  Good luck! 🚀",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        96
      ],
      "id": "f50d29e1-3d64-4d38-8db9-1e801bd2e09b",
      "name": "Send a message1",
      "webhookId": "3714cf50-2e14-483a-af47-4b91bdf91e8a",
      "credentials": {
        "gmailOAuth2": {
          "id": "TuGGSGuAud2dR89q",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "44a1b73d-4c30-4a48-b229-6ae3f879565e",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ede48bd3-98c5-4f37-9634-ed244ffbfdf1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9069c910d085062d00bb290e5cb8316493308f65c862dabd65e94330517c0b59"
  },
  "id": "Ksi6ORZSvqjH3AfL",
  "tags": []
}
